body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}
.logo{
  width: 263px;

}

h1 {
  margin-top: 107px;
  font-size: 5rem;
}
p{
  font-size: 1.4rem;
}
h2{
  font-size: 1.6rem;
  
}

footer {
  text-align: right;
  color: midnightblue;
}
span{
  color: blue;
}
img{
  width: 300px;
  float: left;
  margin-right: 20px;
}
.card{
  
  display: inline-block;
}
.left{
  float: left;
  width: 45%;
  margin-right: 20px;
}

.right{
  float: right;
  margin-left: 30px;
  width: 45%;
}

footer{
  clear: both;
}

@media (max-width:670px) {
  body{
    margin: 50px 20px 0 20px;
  }
  
  .left, .right{
    float: none;
    width: 100%;
    
    margin: 0;
  }
  h1{
    margin-top: 40px;
    font-size: 3.5rem;
    text-align: center;
  }
  .card{
    width: 100%;
  
    display: block;
  }
  .logo{
    width: 6rem;
    float: none;
  } 
  .card > img{
    width: 100%;
    height: 200px;
    float: left;
    margin-right: 50px;
  }
}


