
*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background: #584040;
    display: flex;
    align-items: center;
    
}

.contenedor {
    width: 920px;
    height: 280px;
    margin: 0 auto;

    position: relative;
    background: linear-gradient(#B7D6c7,#ffe2d1);


}


.dino{
    width: 84px;
    height: 84px; 

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(./img/dino.png) no-repeat;
}
.dino-correr{
    animation: correr 0.5s steps(2) infinite;
}

@keyframes correr {
    from{
        background-position: -88px;
    }
    to{
        background-position: -250px;
    }
}
.suelo{
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(./img/suelo.png) repeat-x;
    background-size: 50% 42px;

}

.score{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 15px;
    font-family: Verdana, sans-serif;
    font-size: 30px;
    color: #d38888;
    font-weight: bold;
    z-index: 10;
    text-align: right;
    
}