p{
    color: rgb(226, 147, 43);
    background-color: aquamarine;
    
}
h1{
    color: blue;
    background-color: rgb(127, 133, 219);
}
span{
    color: rgb(199, 26, 26);
    background-color: chartreuse;
    opacity: 60%;
}
span2{
    color: rgb(81, 0, 233);
    background-color: rgb(145, 170, 52);
}
.faltante{
    background-color: brown;
}
#uno{
    color: rgb(255, 0, 0);
}