@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*paleta de colores*/
:root {
    --bg-main: #2b1a0f;        /* marrón oscuro */
    --bg-soft: #f3e3c7;        /* beige claro */
    --accent-gold: #f2c66d;    /* dorado */
    --accent-warm: #c0893d;    /* ámbar */
    --text-dark: #2a1a0f;
    --text-light: #f8f4ec;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    /*background:var(--accent-warm);*/
    font-family: "Montserrat", sans-serif;
}

.container{
    max-width:1200px;
    margin: 0 auto;
}

.header{

    display: flex;
    align-items: center;
    min-height: 70vh;
    position: relative;
    /*background: #2a1a0f;*/
    /*height: 50px;*/

    
}

/*menu*/

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
font-size: 32px;
color:#f2c66d;
text-transform: uppercase;
font-weight: 800;

}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 16px;
    padding: 16px;
    font-weight: 600;
    color:#bd9761;
    display: block;
}

.menu .navbar ul li a:hover{
    color:#f2c66d
}

#menu{
    display: none;
}

.menu-icon{
    width: 32px;
}

.menu label{
    cursor: pointer;
    display: none;
}

/*submenu*/

.submenu{
    position: relative;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color:#f2c66d;
    padding: 20px;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0,0,0.2);
}

table{
    width: 100%;
}

th, td{
    color:#2a1a0f;
}

.borrar {
    background-color:#2a1a0f;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #f2c66d;
    font-weight: 800;
}
.bg{
    position: absolute;
    width: 100%; /*1500px*/
    top: 0;
    left: 0;
    z-index: 0;
}

.header-content{
    display: flex;
    align-items: top;
    z-index: 2;
    max-width: 1200px;
    
    
}

.header-txt{
    padding-top: 320px;
    width: 50%;
    margin-right: 0;
    
    text-align: right;
    
}
.header-txt h1{
    font-size: 28px;
    line-height: 65px;
    color:#2b1a0f;
    margin-bottom: 0px;
    font-weight: 900;
}
.header-txt p{
    font-size: 16px;
    color:#2a1a0f;
    margin-bottom: 30px;
    font-weight: 500;
    
}
.header-txt span{
    color:#000000;
    font-size: 42px;
    
}

.btn-1{
    display: inline-block;
    padding: 13px 45px;
    border-radius: 25px;
    background-color: #c0893d;
    color:#f8f4ec;
    font-size: 16px;
    text-transform: capitalize;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
}

.btn-1:hover{
    background-color: #f2c66d;
    color:#2a1a0f;
}

.header-img{
    
    width: 50%;
    text-align: left;
    
    
}
.header-img img{
    max-width: 508px;
    
}