body{
    
    background: black;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    text-align: center; 
}
.card{
    
    background:rgb(255, 200, 80);
    width: 450px;
    height: 250px;
    margin: auto;
    
}
h1{
    color: black;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 42px;
    margin: 0;
    
}
h2{
    padding-top: 20px;
    font-size: 19px;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 12px;
}
p{
    
    padding: 28px;
    font-size: 14px;
    background:rgb(165, 97, 42);
    color: rgb(214, 214, 214);
    text-align: justify;
    margin: 0;
}